.education {
  /* background-color: var(--paper-deep); */
  background-color: var(--ink);
  border-top: 10px dashed #000000;
  border-bottom: 10px dashed #000000;
}

.education h2 {
  font-size: 40px;
  margin-bottom: 24px;
  color: var(--paper);
}

.education__card {
  /* background: var(--paper); */
  background: #D2A679;
  border: 2px solid var(--ink);
  border-radius: 14px;
  padding: 20px 24px;
  max-width: 600px;
  box-shadow: 4px 5px 0 var(--coral);
}

.education__card h3 {
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.education__meta {
  color: var(--ink-soft);
  font-size: 14px;
}
